$container: 1380px;
$container-tablet: 1100px;
$container-tablet-m: 780px;
$container-mobile: 650px;
$container-mobile-m: 490px;

//colors
$white-color: #FFFFFF;
$gray-color: #B4B4B3;
$brown-color: #240404;
$black-color: #000000;
$light-black-color: #151414;
$green-color: #72B778;
$gold-color: #E5BE67;

//transition
$transition: ease-in-out .3s;
