$container: 1380px;
$container-tablet: 1100px;
$container-mobile: 650px;

//colors
$gray-color: #B4B4B3;
$brown-color: #240404;
$black-color: #000000;
$green-color: #72B778;

//transition
$transition: ease-in-out .3s;
